/*Body*/
html, body {
	margin: 0;
	padding: 0;
	background-color: hsl(0, 0%, 0%, 1.0);
	font-family: sans-serif; 
	box-sizing: border-box;

}

/* Main section*/
#main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
}

/*Header*/
#header {
	text-align: center;
	width: 100vw;
	background-color: #000; 
}

/*Article section*/
#article-1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 100%;
	height: auto;
	padding: 5px;
	margin: 10px;
}

#article-2 {
	display: flex;
	flex-direction: row-reverse;
	justify-content: center;
	max-width: 100%;
	height: auto;
	padding: 5px;
	margin: 10px;
}

/*Title section*/
#title {
	text-align: center;
	font-size: 50px;
	color: orange;
}

#title_paragraph {
	color: orange;
}

/*Image section*/
#img-caption {
	color: #FFF;
	margin-top: 10px;
	font-weight: bold;
}

#image {
	display: inline-block;
	max-width: 100%;
	height: auto;
}

#img-div-1, #img-div-2 {
	max-width: 100%;
	height: auto;
	text-align: center;
}

/*Tribute section*/
#tribute-info-1, #tribute-info-2 {
	width: 30%;
 	color: #FFF;
}

#tribute-info-li {
	width: 40%;
	height: 60%;
	color: #FFF;
}

.tribute-li {
	font-size: 15px;
	padding: 3px;
	margin: 5px;
}

ul {
	list-style-type: none;
}

h3 {
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	color: orange;
}

/*Media queries*/

@media only screen and ( max-width: 768px) {
	/*For mobile devices: */
	#article-1, #article-2 {
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items: center;
	}
	#image {
		width: 100vw;
		height: auto;
	}

	#img-div {
		width: 100vw;
	}

	#tribute-info-1, #tribute-info-2 {
		width: 100%;
		height: auto;
	}
}