/*Body*/
body {
	margin: 0;
	padding: 0;
	background-color: #FFF;
	font-family: sans-serif; 
}

/* Main section*/
#main {
	display: flex;
	/*justify-content: center;*/
	align-items: center;
}


#article-1 {
	float: left;
	width: 50%;
	padding: 5px;
	margin: 10px;
	padding: 10px;
}

#

#article-2 {
	margin: 10px;
	padding: 10px;
	flex-direction: row-reverse;
}

#title {
	text-align: center;
	font-size: 50px;
	color: #000;

}

#title_paragraph {
	color: #000;
}

#img-caption {
	color: #000;
	margin-top: 10px;
	font-weight: bold;
}

#image {
	
	border: 5px solid #000;
}

#img-div-1 {
	text-align: center;
 	border-style: 25px solid black;

}

#figcaption_paragraph {
	color: #000;

}

#tribute-info-1 {
 	float: right;
 	background-color:  hsl(180 50% 50%);
}

#tribute-info-li {

	color: #000;
}

.tribute-li {
	padding: 3px;
	margin: 5px;
}

h3 {
	text-align: center;
	color: #1F1F1F;
}
/*Media query*/